.header {
    padding: 20px 0;
  
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 5px;
     
  }

   &__logo {

    cursor: pointer;
    font-size: 23px;
    font-weight: 500;

   }

   &__home {
    cursor: pointer;
    font-size: 18px;
    font-weight:430;
    
       &:hover {
        color: #0d30cc;
       }
   }

   &__news {
    cursor: pointer;
    font-size: 18px;
    font-weight:430;

       &:hover {
        color: #0d30cc;
       }
   }

   &__account {
    cursor: pointer;
    font-size: 16px;
    font-weight:430;
    
       &:hover {
      color: #0d30cc;
       }
    
   }
}